body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:400px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    color:#333;
}

.buttons{
    margin-top:20px;
}

.buttons a{
    text-decoration:none;
    background:green;
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius:5px;
}



form{
    display:flex;
    flex-direction:column;
}

input,select{
    margin:10px 0;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


.policy-card{

    background:white;

    padding:20px;

    margin-top:20px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.policy-card a{

    display:inline-block;

    margin-top:10px;

    background:#28a745;

    color:white;

    padding:10px 15px;

    border-radius:5px;

    text-decoration:none;
}