<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h1>Login</h1>

    <form id="loginForm">

        <input
                type="email"
                id="email"
                placeholder="Enter Email"
                required
        >

        <input
                type="password"
                id="password"
                placeholder="Enter Password"
                required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p id="message"></p>

</div>

<script>

    const form = document.getElementById("loginForm");

    form.addEventListener("submit", async function(e){

        e.preventDefault();

        const email =
            document.getElementById("email").value;

        const password =
            document.getElementById("password").value;

        const response = await fetch("/login", {

            method: "POST",

            headers: {
                "Content-Type": "application/json"
            },

            body: JSON.stringify({
                email: email,
                password: password
            })
        });

        const data = await response.json();

        console.log(data);

        if(data.token){

            localStorage.setItem(
                "jwtToken",
                data.token
            );

            document.getElementById("message")
                .innerText = "Login Successful";

            window.location.href =
                "/customer/dashboard";
        }
        else{

            document.getElementById("message")
                .innerText = "Invalid Credentials";
        }
    });

</script>

</body>
</html>